:root{
    --color1:rgb(0, 0, 0);
    --color2: #268b6f;
    --color3:#ff274b;
    --padding: 8%;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Heros{
    background-color: var(--color1);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

h2{
    color: white;
    font-weight: bold; 
    letter-spacing: 0.12rem;
    cursor: pointer;
}
span{
    color:var(--color3);
}

nav{
    padding-top: 2rem;
    padding-left: var(--padding);
    padding-right: var(--padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    margin: 0.8rem 1.5rem;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
}
.btn{
    text-decoration: none;
    color:white;
    background-color: var(--color3);
    
    padding: 0.81rem 1.8rem;
    border-radius: 30px;
}

p{
    color: white;
}

.content{
    flex-grow: 1;
    padding:0 var(--padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.Heros.text{
    position: relative;
    bottom: 70px;
}

.logo{
    position: relative;
    bottom: 30px;
}

h4,h3{
    color: white;
    font-size: 1.5rem;
    
}
h1{
    color: white;
    font-size: 3.40rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    letter-spacing: 0.5rem;
}
.social{
    margin-top: 3.5rem;
}

.social img{
    margin-right: 2rem;   
    width: 2.5rem;
}
.about{
    background-color: #22282a;
    padding: 2rem var(--padding);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about .text{
    width: 35%;
}
.about .text img{
    width: 90%;
}
.about .text-about{
    width: 35%;
}
.service{
    background-color: var(--color1);
}

.service h1{
    letter-spacing: 0.5rem;
    text-align: center;
}









